body {
  background-image: url("https://i.pinimg.com/736x/d7/cb/e4/d7cbe47d5b273121cc2f16df2708add7.jpg");
  background-color: #cccccc;
   background-repeat: no-repeat;
  background-size: cover;
  
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  background-color: rgb(219, 193, 208);
  
}
 img{
 float:right;
}
p{
 clear:right;
}
  
h6{
 float:right;
  clear:right;} 

th{
  list-style-type: circle;
}
