body {
  background-image: url("https://bhf-cdn.azureedge.net/bhf-blob-prod/0024961_north-white-texture-wallpaper_600.jpeg");
  background-color: #cccccc;
  
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  background-color: rgb(219, 193, 208);
  
}
 img{
 float:right;
}
p{
 clear:right;
}
